[submodule "1-Frontend-Interface-Applications/Driven-Eats"]
	path = 1-Frontend-Interface-Applications/Driven-Eats
	url = https://github.com/luiz-gustavo-alves/Driven-Eats
[submodule "1-Frontend-Interface-Applications/Driven-Parrot-Card-Game"]
	path = 1-Frontend-Interface-Applications/Driven-Parrot-Card-Game
	url = https://github.com/luiz-gustavo-alves/Driven-Parrot-Card-Game
[submodule "1-Frontend-Interface-Applications/Driven-Chat-UOL"]
	path = 1-Frontend-Interface-Applications/Driven-Chat-UOL
	url = https://github.com/luiz-gustavo-alves/Driven-Chat-UOL
[submodule "2-Single-Page-Applications/Driven-Hangman"]
	path = 2-Single-Page-Applications/Driven-Hangman
	url = https://github.com/luiz-gustavo-alves/Driven-Hangman
[submodule "2-Single-Page-Applications/Driven-ZapRecall"]
	path = 2-Single-Page-Applications/Driven-ZapRecall
	url = https://github.com/luiz-gustavo-alves/Driven-ZapRecall
[submodule "2-Single-Page-Applications/Driven-Cineflix"]
	path = 2-Single-Page-Applications/Driven-Cineflix
	url = https://github.com/luiz-gustavo-alves/Driven-Cineflix
[submodule "2-Single-Page-Applications/Driven-Trackit"]
	path = 2-Single-Page-Applications/Driven-Trackit
	url = https://github.com/luiz-gustavo-alves/Driven-Trackit
[submodule "3-Backend-APIs/Driven-Tweetero"]
	path = 3-Backend-APIs/Driven-Tweetero
	url = https://github.com/luiz-gustavo-alves/Driven-Tweetero
[submodule "3-Backend-APIs/Driven-API-Chat-UOL"]
	path = 3-Backend-APIs/Driven-API-Chat-UOL
	url = https://github.com/luiz-gustavo-alves/Driven-API-Chat-UOL
[submodule "3-Backend-APIs/Driven-All-Articles-Back"]
	path = 3-Backend-APIs/Driven-All-Articles-Back
	url = https://github.com/luiz-gustavo-alves/Driven-All-Articles-Back
[submodule "3-Backend-APIs/Driven-All-Articles-Front"]
	path = 3-Backend-APIs/Driven-All-Articles-Front
	url = https://github.com/luiz-gustavo-alves/Driven-All-Articles-Front
